<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Emails</title>
</head>

<form  action= "{% url 'add_emails' %}"  method="post">
    {% csrf_token %}
    Email address: <input type="text" name="address" >
    </br>
    Annotation: <input type="text" name="annotation" >
    </br>
    <input type="submit" value="add" >
    <br>
    <a>{{ error }}</a>
    <br>
    <h3><a href="{% url 'emails_list' %}" class="text-danger text-center">Return</a></h3>
</form>

<body>

</body>

</html>