<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emails</title>
</head>
<body>
    <h3><a href="{% url 'add_emails_page' %}" class="text-danger text-center">Add Emails</a></h3>
    <table border="1">
        <thead>
            <tr>
                <th>Email</th>
                <th>Annotation</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for email in Emails %}
                <tr>
                    <td>{{ email.address }}</td>
                    <td>{{ email.annotation }}</td>
                    <td>
                        <a href="{% url 'delete_emails' email.address %}">Delete</a><!--a标签是GET请求-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3><a href="{% url 'index' %}" class="text-danger text-center">Return</a></h3>
</body>
</html>
