<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" >
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}" ></script>

{#    switch #}
    <link href="{% static 'css/bootstrap-switch.css' %}" rel="stylesheet">

    <!--初始化代码-->
    <script>
         $(document).ready(function() {
            $('#example').DataTable( {
                "pagingType": "full_numbers"
            } );
        } );
    </script>

</head>
<body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr style="table-layout:word-wrap:break-word;word-break:break-all">
                <td width="10%">{{  project.id   }}</td>
                <td width="30%">{{  project.name }}</td>
                <td width="30%"><a href="{{ project.url }}">{{  project.url  }}</a></td>
                <td width="30%">{{  project.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Time</th>
            </tr>
        </tfoot>
    </table>
    <a href="{% url 'index' %}" >      <button style="height: 50px; font-size: 20px">Update Information</button></a>
    <a href="{% url 'emails_list' %}" ><button style="height: 50px; font-size: 20px">Emails Setting</button></a>
    <a href="{% url 'send_emails' %}" ><button style="height: 50px; font-size: 20px">Send Emails</button></a>
{#    switch #}

    <button style="height: 50px; font-size: 20px; color: black" class="col-sm-6 col-lg-4" >Timing Send Emails:
        <input  id="switch-state" type="checkbox" name="state" checked >
    </button>

    <script src="{% static 'js/highlight.js' %}"></script>
    <script src="{% static 'js/bootstrap-switch.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
