<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" type="text/css" >
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}" ></script>
    <!--初始化代码-->
    <script>
         $(document).ready(function() {
            $('#example').DataTable( {
                "pagingType": "full_numbers"
            } );
        } );
    </script>

</head>
<body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr style="table-layout:word-wrap:break-word;word-break:break-all">
                <td width="10%">{{  project.id   }}</td>
                <td width="30%">{{  project.name }}</td>
                <td width="30%"><a href="{{ project.url }}">{{  project.url  }}</a></td>
                <td width="30%">{{  project.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>URL</th>
                <th>Time</th>
            </tr>
        </tfoot>
    </table>
    <h3><a href="{% url 'index' %}" class="text-danger text-center">Update Information</a></h3>
    <h3><a href="{% url 'emails_list' %}" class="text-danger text-center">Emails Setting</a></h3>
    <h3><a href="{% url 'send_emails' %}" class="text-danger text-center">Send Emails</a></h3>

</body>

</html>
